@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap");

body,
#slider,
.wrap,
#slide-content {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.hidden {
  display: none;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("images/doubleexps.jpg");
}
.slide2 {
  background-image: url("images/old\ car\ fibers.jpg");
}
.slide3 {
  background-image: url("images/blck\ white\ star\ strail_0001.jpg");
}

.slide4 {
  background-image: url("images/swings1.jpg");
}

.slide5 {
  background-image: url("images/truck.jpg");
}

.slide6 {
  background-image: url("images/monkey.jpg");
}

#slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#slide-content span {
  font-size: 5rem;
  color: white;
}
.modal {
  position: absolute;
  color: rgb(0, 0, 0);
  background-color: rgba(252, 243, 243, 0.5);
  font-size: 1.5em;
  font-family: "Bitter";
  border: solid 1px rgb(0, 0, 0);
  margin: 490px 0 400px auto;
  padding: 22px;
  z-index: 100;
}

.heading {
  margin: 400px 10px 1em auto;
  padding: 10px;
  color: rgb(255, 255, 255) !important;
  border: 0.5px solid black;
  font-family: "Bitter";
  font-weight: 700;
  letter-spacing: 1px;
}
.heading:hover {
  cursor: pointer;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 30px;
}
#arrow-right {
  border-width: 30px 0px 30px 40px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 30px;
}
